body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url('https://images.pexels.com/photos/210607/pexels-photo-210607.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    min-height: 100vh;
}

h1, h2 {
    font-weight: bold;
    text-align: center;
    text-decoration: underline;
}

.container {
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 15px;
    overflow: hidden;
}

.carousel {
    border: 5px solid yellow;
}

.carousel img {
    height: 350px;
}

footer {
    text-align: center;
    font-size: x-large;
    color: white;
}

footer > div {
    display: inline-block;
    background-color: black;
}

nav {
    font-size: x-large;
}

#brand {
    font-size: 3rem;
    font-weight: bold;
    color: #06BCC1;
}

#links > a {
    background-color: #F092DD;
    border-radius: 25px;
    text-decoration: none;
}

.alert {
    font-weight: bold;
    text-align: center;
    font-size: large;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Adjust column size as needed */
    gap: 20px;
    padding: 20px;
}

.card {
    border-color: white;
    box-shadow: rgba(0, 17, 51, 0.07) 0px 3px 15px;
}

h4 > img {
    width: 1.5em;
    height: 2em;
    padding-left: 0.3em;
}

td {
    font-size: large;
}