{% extends "layout.html" %}

{% block title %} Home {% endblock %}

{% block main %}
    <div class="container p-3">
        <h1>Popular Currencies</h1>
        <hr>
        <p class="alert alert-info">Note: Records are as of {{date}} (YYYY/MM/DD)</p>
        <div class="p-3 grid">
            <div class="card p-4">
                <h4>Australian Dollar <img src="https://flagicons.lipis.dev/flags/4x3/au.svg"></h4>
                <h6 class="text-secondary">1 INR is equal to </h6>
                <h3 id="AUD">{{c1}} AUD</h3>
            </div>
            <div class="card p-4">
                <h4>Canadian Dollar <img src="https://flagicons.lipis.dev/flags/4x3/ca.svg"></h4>
                <h6 class="text-secondary">1 INR is equal to </h6>
                <h3 id="CAD">{{c2}} CAD</h3>
            </div>
            <div class="card p-4">
                <h4>Swiss Franc <img src="https://flagicons.lipis.dev/flags/4x3/ch.svg"></h4>
                <h6 class="text-secondary">1 INR is equal to </h6>
                <h3 id="CHF">{{c3}} CHF</h3>
            </div>
            <div class="card p-4">
                <h4>Chinese Yuan <img src="https://flagicons.lipis.dev/flags/4x3/cn.svg"></h4>
                <h6 class="text-secondary">1 INR is equal to </h6>
                <h3 id="CNY">{{c4}} CNY</h3>
            </div>
            <div class="card p-4">
                <h4>Euro <img src="https://flagicons.lipis.dev/flags/4x3/eu.svg"></h4>
                <h6 class="text-secondary">1 INR is equal to </h6>
                <h3 id="EUR">{{c5}} EUR</h3>
            </div>
            <div class="card p-4">
                <h4>Pound Sterling <img src="https://flagicons.lipis.dev/flags/4x3/gb.svg"></h4>
                <h6 class="text-secondary">1 INR is equal to </h6>
                <h3 id="GBP">{{c6}} GBP</h3>
            </div>
            <div class="card p-4">
                <h4>Japanese Yen <img src="https://flagicons.lipis.dev/flags/4x3/jp.svg"></h4>
                <h6 class="text-secondary">1 INR is equal to </h6>
                <h3 id="JPY">{{c7}} JPY</h3>
            </div>
            <div class="card p-4">
                <h4>US Dollar <img src="https://flagicons.lipis.dev/flags/4x3/us.svg"></h4>
                <h6 class="text-secondary">1 INR is equal to </h6>
                <h3 id="USD">{{c8}} USD</h3>
            </div>
        </div>
        <hr><br>
        <h2 class="mb-4">List of Supported Currencies</h2>
        <table class="table table-hover" style="border-top: calc(var(--bs-border-width) * 2) solid currentcolor;">
            <thead>
                <tr>
                    <th scope="col">Currency</th>
                    <th scope="col">Code</th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                {% for item in currencies %}
                <tr>
                    <td>{{currencies[item]}}</td>
                    <th>{{item}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}