{% extends "layout.html" %}

{% block title %} Home {% endblock %}

{% block main %}
    <div class="container p-3">
        <h1>Popular Currencies</h1>
        <hr>
        {% with messages = get_flashed_messages(category_filter=["error"]) %}
            {% if messages %}
            <p class="alert alert-danger mx-3"><i class="fa-solid fa-circle-xmark me-1"></i> {{messages[0]}}</p>
            {% else %}
                <p class="alert alert-info mx-3"><i class="fa-solid fa-circle-info me-1"></i> Records are as of {{date}} (YYYY/MM/DD)</p>
            {% endif %}
        {% endwith %}
        <div class="p-3 grid-a">
            <div class="card p-4">
                <h4>Australian Dollar <img src="https://flagicons.lipis.dev/flags/4x3/au.svg"></h4>
                <h6 class="text-secondary">1 AUD is equal to </h6>
                <h3 id="AUD"></h3>
            </div>
            <div class="card p-4">
                <h4>Canadian Dollar <img src="https://flagicons.lipis.dev/flags/4x3/ca.svg"></h4>
                <h6 class="text-secondary">1 CAD is equal to </h6>
                <h3 id="CAD"></h3>
            </div>
            <div class="card p-4">
                <h4>Swiss Franc <img src="https://flagicons.lipis.dev/flags/4x3/ch.svg"></h4>
                <h6 class="text-secondary">1 CHF is equal to </h6>
                <h3 id="CHF"></h3>
            </div>
            <div class="card p-4">
                <h4>Chinese Yuan <img src="https://flagicons.lipis.dev/flags/4x3/cn.svg"></h4>
                <h6 class="text-secondary">1 CNY is equal to </h6>
                <h3 id="CNY"></h3>
            </div>
            <div class="card p-4">
                <h4>Euro <img src="https://flagicons.lipis.dev/flags/4x3/eu.svg"></h4>
                <h6 class="text-secondary">1 EUR is equal to </h6>
                <h3 id="EUR"></h3>
            </div>
            <div class="card p-4">
                <h4>Pound Sterling <img src="https://flagicons.lipis.dev/flags/4x3/gb.svg"></h4>
                <h6 class="text-secondary">1 GBP is equal to </h6>
                <h3 id="GBP"></h3>
            </div>
            <div class="card p-4">
                <h4>Japanese Yen <img src="https://flagicons.lipis.dev/flags/4x3/jp.svg"></h4>
                <h6 class="text-secondary">1 JPY is equal to </h6>
                <h3 id="JPY"></h3>
            </div>
            <div class="card p-4">
                <h4>US Dollar <img src="https://flagicons.lipis.dev/flags/4x3/us.svg"></h4>
                <h6 class="text-secondary">1 USD is equal to </h6>
                <h3 id="USD"></h3>
            </div>
        </div>
        <hr><br>
        <h2 class="mb-4">List of Supported Currencies</h2>
        <table class="table table-hover table-responsive" style="border-top: calc(var(--bs-border-width) * 2) solid currentcolor;">
            <thead>
                <tr>
                    <th scope="col">Currency</th>
                    <th scope="col">Code</th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                {% for item in currencies %}
                <tr>
                    <td>{{currencies[item]}}</td>
                    <th>{{item}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <script>
        window.onload = function() {
            var rates = JSON.parse('{{rates | safe}}');
            currencyList = ["AUD", "CAD", "CHF", "CNY", "EUR", "GBP", "JPY", "USD"]
            for(let currency of currencyList)
            {
                var elem = document.getElementById(currency);
                if (currency in rates) elem.innerText = (1 / rates[currency]).toFixed(4) + " {{base}}";
                else elem.innerText = "1 " + currency;
            }
        }
    </script>
{% endblock %}