{% extends "layout.html" %}

{% block title %} Quote {% endblock %}

{%block main %}

<div class="container">
    <h1>Quote Currency</h1>
    <hr>
    <p class="alert alert-info mx-5 my-2"><i class="fa-solid fa-circle-info me-1"></i>Select a currency to see how it compares to other currencies.</p>
    <form class="grid-b justify-content-evenly" method="post">
        <div class="card p-3 m-5">
            <select class="form-select form-select-lg mb-4 w-auto" name="fromC">
                <option selected>Select Currency</option>
                {% for symbol in currencies %}
                <option value="{{symbol}}">{{currencies[symbol]}}</option>
                {% endfor %}
            </select>
            <input type="text" class="form-control mb-2" name="amount" placeholder="Amount" autocomplete="off">
            <div class="dateCard">
                <h5>From:</h5>
                <input type="date" class="form-control mb-2 w-auto ms-3" name="fromDate">
            </div>
            <div class="form-text" style="text-align: end;">Records start from 4th January 1999.</div>
        </div>
        <div id="symbol">
            <i class="fa-solid fa-arrow-right fa-7x"></i>
            <button class="btn btn-success mt-3" type="submit">Convert</button>
        </div>
        <div class="card p-3 m-5">
            <select class="form-select form-select-lg mb-4 w-auto" name="toC">
                <option selected>Select Currency</option>
                {% for symbol in currencies %}
                <option value="{{symbol}}">{{currencies[symbol]}}</option>
                {% endfor %}
            </select>
            <input type="text" class="form-control mb-2" id="ans" disabled style="font-weight: bold;">
            <div class="dateCard">
                <h5>To:</h5>
                <span><input type="date" class="form-control mb-2 w-auto ms-3" name="toDate"></span>
            </div>
            <div class="form-text" style="text-align: end;">Leave empty to receive data on from date.</div>
        </div>
    </form>
</div>
{% endblock %}